.addProduct-modal {
    display: flex;
    width: 114.9rem;
    height: 50rem;
    background: #FFFFFF;
    border: 1px solid black;
    position: absolute;
    top: 60%;
    left: 11%;
    
}

.left-add-modal {
    width: 64.7rem;
    box-sizing: border-box;
    padding: 2rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.login-modal{
    width: 64.7rem;
    box-sizing: border-box;
    padding: 2rem;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.modal-add-heading,.close-btn {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 4.0rem;
    line-height: 5.2rem;
    color: #000000;
    margin-bottom: 0;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.name-add,
.email-add,
.phone-add,
.password-add {
    outline: 0;
    border-width: 0 0 .1rem;
    border-color: #AAAAAA;
    width: 45rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #737373;
    box-sizing: border-box;
    padding-left: 0.8rem;
}

.submit-add-btn {
    width: 15rem;
    height: 4.4rem;
    background: #36416A;
    border-radius: 2.7907rem;
    border: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.9rem;
    color: #FFFFFF;
    cursor: pointer;
}

.right-add-modal {
    width: 50.2rem;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    background: #36416A;
    justify-content: space-between;
}

.wrapper-left-add{
    display: flex;
    flex-direction: column;
}

.heading-right-add {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 4.8546rem;
    line-height: 6.3rem;
    color: #FFFFFF;
    margin-bottom: 0;
}

.content-right-add {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 3.7rem;
    line-height: 4.8rem;
    color: #FFFFFF;
}

.crossbutton{
    position: absolute;
    color: white;
    font-size: 3rem;
    right: 2rem;
    top: -2rem;
    cursor: pointer;
}