.feedback-main {
    display: flex;
    box-sizing: border-box;
    padding-left: 2rem;
    gap: 1rem;
}

/* Feedback Left */

.feedback-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.feedback-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 2rem;
    width: 30rem;
    height: 17.5rem;
    background: #36416A;
    border-radius: 1.48793rem;
    justify-content: flex-end;
}

.feedback-heading-box {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 3.85865rem;
    color: #FFFFFF;
    margin-bottom: 0;
}

.content-box {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.05774rem;
    color: #FFFFFF;
    margin-top: 0;
}

.apply-feedback-filters {
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    height: 30rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 1.75051rem rgba(0, 0, 0, 0.15);
    border-radius: 1.13783rem;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-top: 1rem;
    gap: 1rem;
}

.individual-filter {
    cursor: pointer;
    width: 13.2rem;
    height: 3.9rem;
    background: rgba(54, 65, 106, 0.15);
    border-radius: 2.50428rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: #000000;
}

.filter-name {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: #000000;
}

.addon-css{
    background-color: #36416A;
    color: white;
}

/* Feedback Right */

.feedback-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.suggest-sort-products {
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    width: 109.7rem;
    height: 6.8rem;
    background: #FFFFFF;
    border: .3rem solid rgba(54, 65, 106, 0.35);
    border-radius: .8rem;
    align-items: center;
    justify-content: space-between;
}

.suggest-sort {
    display: flex;
    gap: 3rem;
}

.suggestion-count {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 147.2%;
    color: #000000;
}

.select-sortby-caption {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.sortby-caption {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.77698rem;
    line-height: 147.2%;
    color: #8B8B8B;
}

.sortby-feedback {
    width: 12.1rem;
    height: 3rem;
    border: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 147.2%;
    color: #000000;
}

.addProduct-btn {
    cursor: pointer;
    width: 21.1rem;
    height: 4.6rem;
    background: #36416A;
    border-radius: .7rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2.19186rem;
    line-height: 147.2%;
    color: #FFFFFF;
    border: none;
}

/* Post Feedback Up */

.post-feedback {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.wrapper-post {
    display: flex;
    flex-direction: column;
}

.post-details-overview {
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 109.7rem;
    height: 15.7rem;
    background: rgba(54, 65, 106, 0.15);
    border-radius: .4rem .4rem 0px 0px;
}

.post-left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo-product {
    width: 7.6rem;
    height: 7.6rem;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.83962rem;
    line-height: 147.2%;
    color: #36416A;
    margin-bottom: 0;
}

.product-caption {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 147.2%;
    color: #000000;
    margin: 0;
}

.feedback-filter-comments {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.given-feedback-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.filters-of-product {
    display: flex;
    width: 11rem;
    height: 3rem;
    background: #C0CEFF;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

.filter-name-product {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 147.2%;
    color: #000000;
}

.comment-logo-caption {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.comment-icon {
    width: 3rem;
    height: 3rem;
}

.message-caption {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.88032rem;
    line-height: 147.2%;
    color: #ABABAB;
}

.post-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.upvotes-count-box {
    display: flex;
    flex-direction: column;
    width: 4.6rem;
    height: 6.5rem;
    background: #C7CBD6;
    border-radius: 1.59836rem;
    align-items: center;
    justify-content: center;
}

.upvote-count,
.arrow {
    cursor: pointer;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.86104rem;
    line-height: 147.2%;
    color: #000000;
    margin: 0;
}

.arrow {
    font-size: 1.5rem;
}

.edit-comments-count-box {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.edit-product {
    cursor: pointer;
    width: 10.7rem;
    height: 3.6rem;
    background: #36416A;
    border-radius: 2.9rem;
    border: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.9rem;
    color: #FFFFFF;
}

.comment-count-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.comment-count {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.86104rem;
    line-height: 147.2%;
    color: #000000;
}

.comment-box-icon {
    width: 2.8rem;
    height: 2.8rem;
}

/* Post Feedback Down(comments) */

.post-comments-section {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 109.7rem;
    height: 30.4rem;
    background: #E1E3E9;
    border-radius: 0px 0px .4rem .4rem;
    gap: 1rem;
}

.input-send-section {
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    border: .3rem solid #C7CBD6;
    border-radius: 4.3rem;
    background-color: white;
    width: 103.4rem;
    height: 6rem;
    align-items: center;
}

.comment-message {
    border: none;
    outline: 0;
    border-radius: 4.3rem;
    width: 100%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 147.2%;
    color: #ABABAB;
}

.send-icon {
    cursor: pointer;
    width: 3.3rem;
    height: 3.3rem;
}

.view-all-comments{
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.comment-content {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.1rem;
    line-height: 147.2%;
    color: #999999;
}

.a-comment{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.bullet-icon{
    width: 1.5rem;
    height: 1.5rem;
}


.makeZIndex{
    z-index: -1;
}