.form-signup-mob {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 44.6rem;
    background: #FFFFFF;
    box-shadow: 0px .4rem 3.6rem rgba(0, 0, 0, 0.25);
    border-radius: 3.3rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;
}

td {
    padding: 0.5rem;
}

.name-mob,
.email-mob,
.phone-mob,
.password-mob {
    outline: 0;
    border-width: 0 0 .1rem;
    border-color: #AAAAAA;
    width: 21rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #737373;
    box-sizing: border-box;
    padding-left: 0.8rem;
}

.name-icon-mob,
.email-icon-mob,
.phone-icon-mob,
.password-icon-mob {
    width: 3rem;
    height: 3rem;
}

.login-signup-mob {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    color: #737373;
}

span {
    cursor: pointer;
    line-height: 2.6rem;
    text-decoration-line: underline;
    color: #36416A;
}


.button-wrapper-signup-mob {
    display: flex;
    justify-content: center;
}

.signup-btn-mob {
    cursor: pointer;
    width: 25rem;
    height: 4rem;
    background: #36416A;
    border-radius: 2.7907rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.9rem;
    color: #FFFFFF;
    border: none;
}